body {
    width: 35%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #edebf3;
    color: #4d3d46;
    line-height: 1.5;
    tab-size: 5; 
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-feature-settings: normal;
    overflow-y: scroll;
    text-align: center;
}

a:link {
  color: rgb(185, 109, 147);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(185, 109, 147);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(151, 72, 112);
  background-color: transparent;
}

a:active {
  color: rgb(185, 109, 147);
  background-color: transparent;
}

.headbox > h3 {
  padding-top: 2%;
}

.contentbox > h4 {
  border-bottom: 1px solid;
  width: 100%;
  display: block;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    bottom: 0%;
    margin-top: 0%;
}


.teenyTinyText {
  font-style: italic;
  font-size: 70%;
}

.postMeta {
  font-style: italic;
  font-size: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.codeBlock {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  background: #c4c0d1;
}